<launch>

  <arg name="name" default="$(env ROBOT_NAME)"/>
  
  <!-- Stanley path tracking -->
  <node pkg="stanley" type="pureStanley" name="controller" output="screen">
    <param name="robot0" value="$(arg name)/odom"/>
    <param name="world" value="$(arg name)/map"/>
    <remap from="/move_base/NavfnROS/plan" to="/plan"/>
    <remap from="/odom" to="$(arg name)/odom"/>
    <remap from="/cmd_vel" to="$(arg name)/cmd_vel"/>
  </node>

</launch>
