<launch>
<node pkg="demo_stanley" type="pureStanley" name="stanley" output="screen">
    <param name="robot_frame_id" value="robot0"/>
    <param name="map_frame_id" value="world"/>
    <rosparam file="$(find demo_stanley)/config/pioneer.yaml" command="load"/>
    <remap from="cmd_vel" to="robot0/cmd_vel"/>
    <remap from="odom" to="robot0/odom"/>
  </node>

</launch>
