<launch>
<arg name="name" default="$(env ROBOT_NAME)"/>

<node pkg="stanley" type="pureStanley" name="stanley" output="screen">
    <rosparam file="$(find demo_stanley)/config/pioneer.yaml" command="load"/>
    <remap from="cmd_vel" to="$(arg name)/cmd_vel"/>
    <remap from="odom" to="$(arg name)/odom"/>
  </node>

</launch>
